



/* **************************************************************** */


/* **************************************************************** */

	.mvp_block_content { background: #FFFFFF ; }
	

	.sidebar_box { 
		background-color: #B0AEAE;
		color: #121212;
		padding: 20px 20px;
		font-size: 18px;
	}
	
	.sidebar_box a { 
		color: #121212;
	}
	
	form.customer { width: 550px }


/* **************************************************************** */


/* **************************************************************** */


/* **************************************************************** */

	body { 
		border: none; 
		margin-top: 0px; 
		background: url(/media/design/8QSK4FZLLSM91GV6/image.jpg)  
	}
	
	#magnify_page { 
		background: #FFFFFF  
	}

	.mvp_leftbackground { background-image: none; }
	.mvp_rightbackground { background-image: none; }
	
/* **************************************************************** */

	body,
	table,
	.bodyfont,
	div.tab.active,
	.mvp_text_color,
	a.cv_tag_cloud,
	a.cv_tag_tree {
		color: #121212;
		font-family: Arial, Helvetica, sans-serif;
	}

	div.mvp_page_title_expressive,
	div.mvp_page_title_browse,
	div.mvp_tool_block_title,
	div.mvp_admin_page_title,
	div.mvp_sidebar_title,
	div.mvp_sidebar_title_expressive,
	div.mvp_panel_title,
	div.mvp_page_title,
	span.mvp_tool_block_title,
	.magnify_color {
		color: #6E6A67;
		font-family: Arial, Helvetica, sans-serif;   
	}

	div.tab.disabled,
	div.mvp_feature_bullet, div.mvp_feature_bullet a,
	div.mvp_home_invitation,
	span.mvp_item_description_label,
	div.mvp_grid_panel_details, div.mvp_grid_panel_commands,
	.mvp-hint,
	.hint,
	.mvp_soft_color,
	table.mvp_admin_stripes tr.head th,
	table.mvp_admin_stripes tr.mvp_head th {
		color: #646262;
		font-family: Arial, Helvetica, sans-serif; 
	}

	#magnify_site_navbar {
		height: 55px;
		background: url(/media/themes/boxes/fff/646262/646262/nav_background.gif) top left repeat-x;
	}
		
		
	#magnify_site_top, #magnify_site_top div.mvp_solid_banner {
		background-color: transparent;
		background-image: none;
	}
	
	
	a { color: #646262 }
	a:hover, div.mvp_feature_bullet a:hover { color: #646262 }
	
	.linked_color { color: #646262 }
	.active_color { color: #646262 }
	.colored_border { border: 1px solid #646262 }
	
	#magnify_column_header { background-color: #646262 }


	div.mvp_accent_box,
	form.customer,
	table.mvp_admin_stripes tr.head th,
	table.mvp_admin_stripes tr.mvp_head th,
	table.mvp_admin_stripes tr.mvp_foot th,
	table.mvp_admin_stripes tr.mvp_foot td { 
		background: #B0AEAE;
	}


	.magnify_color { color: #646262 ; }
	
	.magnify_border,
	img.mvp_thumbnail_magnified,
	div.mvp_small_grid_panel img.mvp_thumbnail_magnified,
	div.mvp_thumbnail_magnified,
	a.mvp_thumbnail_magnified,
	img.mvp_magnified_small_thumb { 
		border-color: #646262; 
	}

/* **************************************************************** */





/* **************************************************************** */

	html body,
	div#magnify_page,
	div#magnify_site_top,
	div.mvp_site_top_leftbackground,
	div#magnify_site_footer { 
		width: 1200px; 
		margin-left: auto;
		margin-right: auto;
	}
	
	div#magnify_site_content { 
	  width: 1200px;
	  min-height: 610px;
	}
	
	div#magnify_main_area { 
		min-height: 510px;
	}
	
	div.magnify_site_extra_column {
		width: 0px; 
		position: relative; 
		top: 8px; 
		left: 1200px;
		margin-right: 20px;
		height: 600px; 
		margin-bottom: -600px;
	}

/* **************************************************************** */

	.mvp_publish_form_field, #upload_field, #progressContainer { 
		width: 621px; 
	}	
	.mvp_publish_sm { 
		width: 361px; 
	}	
	
	
/* **************************************************************** */

	.mvp_block_content { padding: 2px; }

	.magnify_full_area { margin: 0px auto; width: 1160px; }

	#magnify_player_page_area { width: 1200px; }
	#magnify_player_area .magnify_player_sidebar { width: 304px; }
	#magnify_player_area .magnify_player { width: 848px; }

	#magnify_player_side_area {
		margin: 0px 20px 0px 0px;
		width: 304px;
	}
	
	#magnify_player_main_area {
		margin: 0px 0px 0px 20px;
		width: 848px;
	}

	.mvp_video_panel { text-align: center; }

	#magnify_page { width: 1200px; }

	.mvp_legacy_layout #magnify_side_area { width: 301px;  top: 0px;;  margin: 0px 0px 0px 20px; }
	.mvp_legacy_layout #magnify_main_area { width: 851px; margin: 0px 20px 0px 0px; }

	div.mvp_split_left { width: 570px;  margin-left: 20px; }
	div.mvp_split_right { width: 570px;  margin-right: 20px; }
	
	div#magnify_site_top, div#magnify_site_footer {  width: 100%;  overflow: hidden; }
	
	div#mvp_top_leader { width: 1200px; text-align: center; }
	div#mvp_bottom_leader { width: 1200px; text-align: center; }


	div.mvp_block_type_overlay {
		background: #FFFFFF;
		padding: 20px;
	}
	div.mvp_block_type_overlay div div div { padding: 6px; }

/* **************************************************************** */ 	
	#magnify_slideshow_area div.mvp_page_title { margin: 0px 0px 2px 20px; }
	
	#magnify_slideshow_area div.magnify-slideshow-image { margin: 0px auto; }
	
	#magnify_slideshow_area div#mvp_slideshow_controls { margin: 0px 0px 13px 0px; }

	#magnify_slideshow_area div#magnify_player_side_area div.mvp_sidebar_title { margin: 0px 0px 12px 0px; }
	#magnify_slideshow_area div#magnify_player_info { height: 166px; overflow-y: auto; overflow-x: crop; margin-bottom: 13px; }
	#magnify_slideshow_area div#magnify_player_description { padding-bottom: 25px; }	
	#magnify_slideshow_area div.magnify-player-metadata { padding: 9px 0px; }	
	#magnify_slideshow_area div#magnify_player_related_story { margin-bottom: 23px; }
	
/* **************************************************************** */ 	

	div.magnify-player-description { height: 30px; overflow: hidden; margin-bottom: 18px; }
	
	#magnify_tools_container { position: relative; height: 80px; }
	#magnify_player_tools { margin-top: 6px; }	
	#magnify_player_tools div { float:left; }
	#magnify_player_tools td { padding: 0px; }
	
	div#magnify_player_tools div.magnify-widget-playlist-tab .xboxcontent, div#magnify_player_tools div.magnify-widget-playlist-tab-on .xboxcontent { border: 0px; padding: 0px; height: auto; margin: 0px; }
	
	.magnify-widget-playlist-tab { cursor: pointer; cursor: hand; }
	/*.magnify-widget-playlist-tab-separator-first { position: relative; width: 0px; border-right: solid #121212 1px; }*/
	.magnify-widget-playlist-tab-separator { position: relative; width: 0px; border-right: solid #121212 1px; }
	.magnify-widget-playlist-tab-separator-last { position: relative; width: 0px; border-right: solid #121212 1px; }
	
	.magnify-player-tab-text { color: #646262; }
	
	#magnify_player_tools #magnify_widget_playlist_item_rate_it {  height: 13px; margin-left: 10px; }
	.magnify-player-rating-title { margin-right: 5px; }
	
	#magnify_widget_playlist_item_toprated_link {  margin-left: 10px; }	
	#magnify_login_container { height: 40px; padding: 10px 0px; }
	#magnify_player_tags {  height: 40px; padding: 10px 0px; margin-left: 8px; }
	
	#magnify_player_page_area .trimbutton { background: #B0AEAE; border: solid 1px #666666; color: #121212; font-size: 12px; height: auto; width: auto; }
	
	input.mvp-trimbutton, .mvp-trimbutton { background: #B0AEAE; border: solid 1px #666666; color: #121212; font-size: 12px; height: auto; width: auto; text-indent: 0px; padding: 4px 8px; }
	
	#magnify_player_forms { min-height: 87px; }
	
	div#magnify_player_tab_embed { height: 17px; width: 33px; padding: 0px 8px; }	
	div#magnify_player_tab_bookmark { height: 17px; width: 31px; padding: 0px 8px; }	
	div#magnify_player_tab_email { height: 17px; width: 29px; padding: 0px 8px; }
	
	#magnify_player_related { margin: 0px 20px 20px; }
	
	.magnify-widget-playlist-item, .magnify-widget-playlist-item-selected { border-bottom: solid #121212 1px; }
	.magnify-widget-playlist-item-caption-indicator { color: #6E6A67; }
	
	#magnify_player_continuous_ad { height: 262px; }
	#magnify_player_continuous_ad div.magnify_player_ad_block { margin: 0px auto 12px; }


/* **************************************************************** */

	div.mvp_item_viewer_area { background-image: url('/decor/item_chrome/player_chrome.png'); }


/* **************************************************************** */

/* Applies to all leaf nodes that can contain modules */
.mvp_modular_layout .twocol_top .magnify_site_layout_area {
        margin: 0px 0px 0px 20px !important;
        padding: 0px !important;
        display: block;
}
/* Applies to specific leaf node */
.mvp_modular_layout .twocol_top .magnify_side_area {
        float: left; 
        width: 840px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .twocol_top .magnify_side2_area {
        float: left; 
        width: 300px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .twocol_top .magnify_main_area {
        width: 1160px;
}


/* Applies to all leaf nodes that can contain modules */
.mvp_modular_layout .top_column .magnify_site_layout_area {
        margin: 0px 0px 0px 20px !important;
        padding: 0px !important;
        display: block;
}
/* Applies to specific leaf node */
.mvp_modular_layout .top_column .magnify_top_area {
        width: 1160px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .top_column .magnify_side_area {
        float: left; 
        width: 192px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .top_column .magnify_main_area {
        float: left; 
        width: 736px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .top_column .magnify_side2_area {
        float: left; 
        width: 192px;
}


/* Applies to all leaf nodes that can contain modules */
.mvp_modular_layout .threecol_top .magnify_site_layout_area {
        margin: 0px 0px 0px 20px !important;
        padding: 0px !important;
        display: block;
}
/* Applies to specific leaf node */
.mvp_modular_layout .threecol_top .magnify_side_area {
        float: left; 
        width: 214px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .threecol_top .magnify_side2_area {
        float: left; 
        width: 453px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .threecol_top .magnify_side3_area {
        float: left; 
        width: 453px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .threecol_top .magnify_main_area {
        width: 1160px;
}


/* Applies to all leaf nodes that can contain modules */
.mvp_modular_layout .side_twocol_top .magnify_site_layout_area {
        margin: 0px 0px 0px 20px !important;
        padding: 0px !important;
        display: block;
}
/* Applies to specific leaf node */
.mvp_modular_layout .side_twocol_top .magnify_side_area {
        float: left; 
        width: 210px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .side_twocol_top .magnify_top_area {
        float: left; 
        width: 605px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .side_twocol_top .magnify_side2_area {
        float: left; 
        width: 305px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .side_twocol_top .magnify_main_area {
        width: 930px;
}


/* Applies to all leaf nodes that can contain modules */
.mvp_modular_layout .std_sidebar .magnify_site_layout_area {
        margin: 0px 0px 0px 20px !important;
        padding: 0px !important;
        display: block;
}
/* Applies to specific leaf node */
.mvp_modular_layout .std_sidebar .magnify_side_area {
        width: 301px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .std_sidebar .magnify_main_area {
        float: left; 
        width: 851px;
}


/* Applies to all leaf nodes that can contain modules */
.mvp_modular_layout .split_twocol .magnify_site_layout_area {
        margin: 0px 0px 0px 20px !important;
        padding: 0px !important;
        display: block;
}
/* Applies to specific leaf node */
.mvp_modular_layout .split_twocol .magnify_side_area {
        float: left; 
        width: 210px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .split_twocol .magnify_main_area {
        float: left; 
        width: 930px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .split_twocol .magnify_side2_area {
        float: left; 
        width: 610px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .split_twocol .magnify_main2_area {
        float: left; 
        width: 530px;
}


/* Applies to all leaf nodes that can contain modules */
.mvp_modular_layout .side_top_twocol .magnify_site_layout_area {
        margin: 0px 0px 0px 20px !important;
        padding: 0px !important;
        display: block;
}
/* Applies to specific leaf node */
.mvp_modular_layout .side_top_twocol .magnify_side_area {
        float: left; 
        width: 210px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .side_top_twocol .magnify_top_area {
        width: 930px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .side_top_twocol .magnify_main_area {
        float: left; 
        width: 605px;
}
/* Applies to specific leaf node */
.mvp_modular_layout .side_top_twocol .magnify_side2_area {
        float: left; 
        width: 305px;
}



/* **************************************************************** */


